Flask         # Replace with your Flask version
joblib        # Replace with your joblib version
pandas       # Replace with your pandas version
numpy         # Replace with your numpy version
scikit-learn  # Replace with your scikit-learn version
gunicorn # Add any other specific libraries you used
Flask-CORS
